{% extends "registration_login/home.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>

<br>
<div class="container">
	<h3>Edytuj Profil</h3>
	<div class="row">
		<div class="col-md-3">
			<div class="card card-body">
				<a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Powrót do strony</a>
				<hr>
				<h2 style="text-align: center">Profil</h2>
				<div class="media-body">
					<h3 style="text-align: center" class="account-heading">{{ user.first_name }}</h3>
					<p style="text-align: center" class="text-secondary">{{ user.email }}</p>
				</div>
				<hr>
				<img class="rounded-circle profile-pic" src="{{user.profile.profile_pic.url}}" >
			
			</div>
		</div>
		<div class="col-md-9">
			<div class="card card-body">
				
				<form method="POST" action="" enctype="multipart/form-data">
					{% csrf_token %}
					<fieldset class="form-group">
						<legend class="border-bottom mb-4">Profile Info</legend>
						{{ user_form|crispy }}
						{{ profile_form|crispy }}
					</fieldset>
					<div class="form-group">
						<button class="btn btn-outline-info" type="submit">Update</button>
					</div>

					{% for message in messages %}
						{% if message.tags == 'success' %}
							<br>
							<div class="alert alert-primary alert-dismissible fade show" role="alert">{{message}}
						{% endif %}
					{% endfor %}
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}















