{% extends "registration_login/home.html" %}
{% block content %}

<div class="container">
    <div class="col-md-6"> 
<br><br>
        <form action="" method="POST">
            {% csrf_token %}

            <div class="row mb-3">
                <label class="h5">*Obecne hasło:</label>
                <input type="password" name="current_password" placeholder="Obecne hasło" class="form-control" required>
            </div>
            <div class="row mb-3">
                <label class="h5">*Utwórz nowe hasło:</label>
                <input type="password" name="new_password" placeholder="Stwórz nowe hasło" class="form-control" required>
            </div>
            <div class="row mb-3">
                <label class="h5">*Potwierdź nowe hasło:</label>
                <input type="password" name="confirm_password" placeholder="Potwierdź nowe hasło" class="form-control" required>
            </div>
            
            <input type="submit" value="Zatwierdź" class="btn btn-primary">
        </form>
    </div>

</div>

{% endblock content %}