{% extends "registration_login/home.html" %}
{% load static %}

{% block content %}


<section id="title">
  <div class="container-fluid">
    <!-- Opis oraz buttons -->
    <div class="row">
        <div class="container-fluid">
          <h1>Zarejestruj się i poznaj najlepszą aplikację pogodową!</h1>
          <button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i> Pobierz</button>
          <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-google-play"></i> Pobierz</button>
        </div>
      </div>

      
      <!-- Sekcja plusy -->
      <section id="benefits">
        <div class="row">
          <div class="feature-box col-lg-4">
            <i class="icon fas fa-check fa-3x"></i>
            <h3>Przejrzysta forma</h3>
            <p>Oferuje prognozę godzinną oraz długoterminową</p>
          </div>
          <div class="feature-box col-lg-4">
            <i class="icon fas fa-envelope fa-3x"></i>
            <h3>Powiadomienia push</h3>
            <p>Ostrzeżenia pogodowe o nagłych zjawiskach</p>
          </div>
          <div class="feature-box col-lg-4">
            <i class="icon fas fa-bullseye fa-3x"></i>
            <h3>Rozbudowany interfejs</h3>
            <p>Pokaże jakość powietrza oraz promieniowanie UV</p>
          </div>
        </div>
      </section>
  </div>
</section>

{% endblock content %}